



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {

  display: flex;
  flex-direction: row-reverse;
  background: #b5c0d1;
  /* padding:1% */
}
.nav-bar a {
  text-decoration:none;
  width: 20%;
  padding: 1%;
  color:white;
  font-size:1.2rem;
  font-weight:500;
  background: rgb(180, 194, 146);
 
}
.nav-bar a :hover{
  background: #aae658;
}
.friends-list {
  border:solid green;
  display: flex;
  flex-wrap: wrap;
}
.friend-card{
  width:29%;
  padding:1%;
  margin:1%;
  border: 1px solid #e6d9d9;
  border-radius:10px
}
